@media print{
    .sidebar, .footer, .btn, .aksiCol, form {
        display: none;
    }
    
    #print-only {
        display: block;
    }
}
/* @media screen{
    .print-only {
        display: none;
    }
} */